These python analysis of Airline Dataset aimes to answers these questions as follows:

1.Exploratory Data Analysis (EDA):
What is the average age of passengers?
What is the distribution of passengers by gender?
2.What is the distribution of passengers' nationalities in the dataset?
python
3.Which airport had the most departures in this dataset, and how many departures were there?
4.What is the distribution of passengers by continent of nationality?
5.What is the flight status for the flight with the most recent departure date, and who is the pilot for that flight?
6.How many passengers are there from the United States, and what is the average age of these passengers?
7.What is the total number of passengers on-time vs. delayed by flight status?

In [1]:
import pandas as pd
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

df = pd.read_csv('Airline Dataset Updated - v2.csv')

<h4> Exploratory Data Analysis (EDA):What is the average age of passengers?
What is the distribution of passengers by gender? <h4>

In [2]:
df.head()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,On Time
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,On Time
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,Delayed
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time

In [4]:
df.shape

(98619, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98619 entries, 0 to 98618
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Passenger ID          98619 non-null  object
 1   First Name            98619 non-null  object
 2   Last Name             98619 non-null  object
 3   Gender                98619 non-null  object
 4   Age                   98619 non-null  int64
 5   Nationality           98619 non-null  object
 6   Airport Name          98619 non-null  object
 7   Airport Country Code  98619 non-null  object
 8   Country Name          98619 non-null  object
 9   Airport Continent     98619 non-null  object
 10  Continents            98619 non-null  object
 11  Departure Date        98619 non-null  object
 12  Arrival Airport       98619 non-null  object
 13  Pilot Name            98619 non-null  object
 14  Flight Status         98619 non-null  object
dtypes: int64(1), object(14)
memory usage: 11.3+ MB

In [6]:
df.describe()

                Age
count  98619.000000
mean      45.504021
std       25.929849
min        1.000000
25%       23.000000
50%       46.000000
75%       68.000000
max       90.000000

In [7]:
df_clean = df.dropna()

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df_cleaned = df.dropna()

In [10]:
print(df_cleaned)

      Passenger ID  First Name  Last Name  Gender  Age Nationality  \
0           ABVWIg      Edithe     Leggis  Female   62       Japan
1           jkXXAX      Elwood       Catt    Male   62   Nicaragua
2           CdUz2g       Darby    Felgate    Male   67      Russia
3           BRS38V    Dominica       Pyle  Female   71       China
4           9kvTLo         Bay    Pencost    Male   21       China
...            ...         ...        ...     ...  ...         ...
98614       hnGQ62      Gareth    Mugford    Male   85       China
98615       2omEzh       Kasey   Benedict  Female   19      Russia
98616       VUPiVG      Darrin     Lucken    Male   65   Indonesia
98617       E47NtS       Gayle  Lievesley  Female   34       China
98618       8JYEcz  Wilhelmine     Touret  Female   10      Poland

                      Airport Name Airport Country Code        Country Name  \
0                 Coldfoot Airport                   US       United States
1                Kugluktuk Airport                   CA              Canada
2           Grenoble-Isère Airport                   FR              France
3        Ottawa / Gatineau Airport                   CA              Canada
4                  Gillespie Field                   US       United States
...                            ...                  ...                 ...
98614               Hasvik Airport                   NO              Norway
98615          Ampampamena Airport                   MG          Madagascar
98616  Albacete-Los Llanos Airport                   ES               Spain
98617               Gagnoa Airport                   CI       Côte d'Ivoire
98618          Yoshkar-Ola Airport                   RU  Russian Federation

      Airport Continent     Continents Departure Date Arrival Airport  \
0                   NAM  North America      6/28/2022             CXF
1                   NAM  North America     12/26/2022             YCO
2                    EU         Europe      1/18/2022             GNB
3                   NAM  North America      9/16/2022             YND
4                   NAM  North America      2/25/2022             SEE
...                 ...            ...            ...             ...
98614                EU         Europe     12/11/2022             HAA
98615                AF         Africa     10/30/2022             IVA
98616                EU         Europe     09/10/2022             ABC
98617                AF         Africa     10/26/2022             GGN
98618                EU         Europe      4/16/2022             JOK

                Pilot Name Flight Status
0      Fransisco Hazeldine       On Time
1          Marla Parsonage       On Time
2             Rhonda Amber       On Time
3           Kacie Commucci       Delayed
4              Ebonee Tree       On Time
...                    ...           ...
98614     Pammie Kingscote     Cancelled
98615       Dorice Lochran     Cancelled
98616         Gearalt Main       On Time
98617         Judon Chasle     Cancelled
98618      Auguste Tindley       Delayed

[98619 rows x 15 columns]

In [12]:
# Calculate the average age of passengers
average_age = df_cleaned['Age'].mean()
print("Average Age of Passengers:", average_age)

# Calculate the distribution of passengers by gender
gender_distribution = df_cleaned['Gender'].value_counts()
print("Distribution of Passengers by Gender:\n", gender_distribution)

Average Age of Passengers: 45.50402052342855
Distribution of Passengers by Gender:
 Male      49598
Female    49021
Name: Gender, dtype: int64

In [13]:
# Who is the oldest passenger and how old are they?
oldest_passenger = df_cleaned[df_cleaned['Age'] == df_cleaned['Age'].max()]
print("Oldest Passenger:\n", oldest_passenger)

# What is the departure date of the passenger with the youngest age?
youngest_passenger = df_cleaned[df_cleaned['Age'] == df_cleaned['Age'].min()]
print("Youngest Passenger's Departure Date:\n", youngest_passenger['Departure Date'])

Oldest Passenger:
       Passenger ID First Name  Last Name  Gender  Age         Nationality  \
170         to75jW    Pamella      Eaden  Female   90           Indonesia
199         Zlsjqw     Sydney    MacGhee    Male   90           Guatemala
206         aogYWd     Vernen   Ivakhnov    Male   90               China
273         X0basI    Mariann     Moogan  Female   90         Philippines
358         N7DLfQ   Jermaine     Escott    Male   90            Portugal
...            ...        ...        ...     ...  ...                 ...
98092       uQoe6n        Ian  Proudlove    Male   90              Gambia
98211       aIaf11     Linnet     Reedie  Female   90         South Korea
98226       FOn03V    Filippo       Pays    Male   90            Colombia
98253       Ic4WhE      Marve    Mongain    Male   90           Indonesia
98552       D1q05w      Liuka    Caffrey  Female   90  Dominican Republic

                             Airport Name Airport Country Code  \
170                Amchitka Army Airfield                   US
199                      El Petén Airport                   GT
206                       Mullewa Airport                   AU
273           São Miguel do Oeste Airport                   BR
358    Northeast Alabama Regional Airport                   US
...                                   ...                  ...
98092         Tuzla International Airport                   BA
98211                 Fort Nelson Airport                   CA
98226              Tyndall Air Force Base                   US
98253                 Chenega Bay Airport                   US
98552           Gooding Municipal Airport                   US

                 Country Name Airport Continent     Continents Departure Date  \
170             United States               NAM  North America     06/07/2022
199                 Guatemala               NAM  North America     05/05/2022
206                 Australia                OC        Oceania     09/10/2022
273                    Brazil               SAM  South America     06/02/2022
358             United States               NAM  North America      7/15/2022
...                       ...               ...            ...            ...
98092  Bosnia and Herzegovina                EU         Europe      2/26/2022
98211                  Canada               NAM  North America     11/20/2022
98226           United States               NAM  North America     06/10/2022
98253           United States               NAM  North America      3/13/2022
98552           United States               NAM  North America     03/02/2022

      Arrival Airport          Pilot Name Flight Status
170               AHT      Pearle Assiter     Cancelled
199               TKM         Ambur Boden       On Time
206               MXU      Lidia Kleinert       Delayed
273               SQX  Bertrand Cauldwell       On Time
358               GAD  Freedman Concannon       Delayed
...               ...                 ...           ...
98092             TZL        Megen Burgin       Delayed
98211             YYE      Giulio Downham       Delayed
98226             PAM     Janetta Howsego     Cancelled
98253             NCN      Lorilyn McCory       On Time
98552             GNG     Mahmud Gabbitis     Cancelled

[1076 rows x 15 columns]
Youngest Passenger's Departure Date:
 167      12/17/2022
567       9/30/2022
575       7/29/2022
635      08/11/2022
738      12/19/2022
            ...
98308    03/11/2022
98339    06/03/2022
98366    07/04/2022
98498    12/27/2022
98535     3/30/2022
Name: Departure Date, Length: 1075, dtype: object

<h4> What is the distribution of passengers' nationalities in the dataset?<h4>

In [14]:
nationality_distribution = df_cleaned['Nationality'].value_counts()
print("Distribution of Passengers by Nationality:\n", nationality_distribution)

Distribution of Passengers by Nationality:
 China             18317
Indonesia         10559
Russia             5693
Philippines        5239
Brazil             3791
                  ...
Saint Martin          2
Romania               2
Jersey                1
Sint Maarten          1
Norfolk Island        1
Name: Nationality, Length: 240, dtype: int64

Which airport had the most departures in this dataset, and how many departures were there?

In [15]:
most_departures = df_cleaned['Airport Name'].value_counts().idxmax()
departure_count = df_cleaned['Airport Name'].value_counts().max()
print(f"The airport with the most departures is {most_departures} with {departure_count} departures.")

The airport with the most departures is San Pedro Airport with 43 departures.

<h4>What is the distribution of passengers by continent of nationality?<h4>

In [16]:
continent_distribution = df_cleaned['Airport Continent'].value_counts()
print("Distribution of Passengers by Continent of Nationality:\n", continent_distribution)

Distribution of Passengers by Continent of Nationality:
 NAM    32033
AS     18637
OC     13866
EU     12335
AF     11030
SAM    10718
Name: Airport Continent, dtype: int64

<h4>What is the flight status for the flight with the most recent departure date, and who is the pilot for that flight?<h4>

In [17]:
most_recent_flight = df_cleaned[df_cleaned['Departure Date'] == df_cleaned['Departure Date'].max()]
flight_status = most_recent_flight['Flight Status'].values[0]
pilot_name = most_recent_flight['Pilot Name'].values[0]
print(f"The most recent flight has a status of '{flight_status}' and is piloted by {pilot_name}.")

The most recent flight has a status of 'Cancelled' and is piloted by Baron Plowes.

<h4>How many passengers are there from the United States, and what is the average age of these passengers?<h4>

In [18]:
us_passengers = df_cleaned[df_cleaned['Country Name'] == 'United States']
us_passenger_count = len(us_passengers)
us_average_age = us_passengers['Age'].mean()
print(f"There are {us_passenger_count} passengers from the United States with an average age of {us_average_age:.2f} years.")

There are 22104 passengers from the United States with an average age of 45.56 years.

<h4>What is the total number of passengers on-time vs. delayed by flight status?<h4>

In [19]:
flight_status_count = df_cleaned['Flight Status'].value_counts()
print("Total Number of Passengers by Flight Status:\n", flight_status_count)

Total Number of Passengers by Flight Status:
 Cancelled    32942
On Time      32846
Delayed      32831
Name: Flight Status, dtype: int64